@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  --primary-color: #0a369d;
  --secondary-color: #253c78;
  --accent1-color: #5995ed;
  --accent2-color: #ffffff;
  --heading-font: "Josefin Slab";
  --paragraph-font: Abel, Helvetica, sans-serif;
  --nav-backgroud-color: #FFFFFF;
  --nav-link-color: #5995ed;
  --nav-hover-link-color: #219EBC;
  --nav-hover-background-color: #0a369d;
}

body {
    font-family: var(--paragraph-font);
    max-width: 800px;
    padding: 20px;
}

header img{
    width: 220px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    padding: 10px;
}

.hero{
    position: relative;
}

.hero img {
    display: block;
    width: 150%;
    height: auto;
}

.hero article img {
    float: right;
    width: 200px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.hero h1{
    position: absolute;
    background-color: hsla(195, 80%, 2%, 0.5);
    width: 1140px;
    top: 50px;
    left: 0px;
    text-align: center;
    color: #FFFFFF;
}

.hero article {
    position: absolute;
    background-color: hsl(192, 70%, 43%, 0.5);
    width: 900px;
    top: 150px;
    left: 100px;
    text-align: center;
    padding-top: 20px;
    padding-left: 10px;
}

footer {
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  padding: 20px;
}

footer p {
  font-size: 15px;
  line-height: 1.5;
}

footer .sociallinks {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  background-color: #ffffff;
}

footer .sociallinks img {
  max-width: 50px;
  margin-bottom: 10px;
  background-color: #ffffff;
}