/* Owen Morales May 20 - Update and commit */
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Josefin+Slab:ital,wght@1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  --primary-color: #0a369d;
  --secondary-color: #253c78;
  --accent1-color: #5995ed;
  --accent2-color: #ffffff;
  --heading-font: "Josefin Slab";
  --paragraph-font: Abel, Helvetica, sans-serif;
  --nav-backgroud-color: #FFFFFF;
  --nav-link-color: #5995ed;
  --nav-hover-link-color: #219EBC;
  --nav-hover-background-color: #0a369d;
}

body {
    font-family: var(--paragraph-font);
    max-width: 940px;
    padding: 20px;
}

/* .history {
    position: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 1/2;
    grid-row: 1/2;
} */
.adventures figure {
    width: 180px;
} 

.adventures {
    display: flex;
    max-width: 940px;
    flex-wrap: wrap;

}

.adventures h2 {
    display: flex;
    flex-basis: 100%;
    padding: 30px;
    justify-content: center;
}
.history {
    display: flex;
    max-width: 940px;
    flex-wrap: wrap;   
}
.history div {
    width: 350px;
    padding: 10px;

}
.history figure {
    display: flex;
    padding: 20px;
}
.history h2 {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
}

header {

    display: grid;
    grid-template-columns: 2fr 9fr;
    gap: 20px;
    align-items: center;
    color: steelblue;
    border-bottom: 1px solid steelblue;
    padding: 0.5rem;
    
    
}
header nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

header nav a{
    display: flex;
    list-style: none;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

nav a:hover {
    color:#FB8500;
    font-weight:  700;
    text-decoration: underline;
}

header img{
    width: 90px;
    /* height: auto; */
    margin: 10px;
    align-items: center;
    
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    padding: 10px;
}

.hero{
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    margin-top: 20px;
}

.hero article img {
    float: right;
    width: 200px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.hero h1{
    position: absolute;
    background-color: hsl(200, 95%, 14%, 0.5);
    width: 920px;
    top: 50px;
    left: 0px;
    margin-right: 100px;
    text-align: center;
    color: #FFFFFF;
}


.hero article {
   position: absolute;
    background-color: hsl(192, 70%, 43%, 0.5);
    width: 800px;
    top: 100px;
    left: 50px;
    text-align: left;
    padding-top: 20px;
    padding-left: 10px;
 
}

footer {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 2fr 2fr;
}

footer nav{
    display: flex;
    justify-content: right;
}

footer p {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    flex-basis: 100%;
    
}

.final{
    display: flex;
    flex-basis: 100%;
    max-width: 790px; 
}


.sociallinks a{
    padding: 10px;
}

/* contact us */

/* main {
    display: grid;
    grid-column: 1/2;
} */

.contact {
    display: flex;
    max-width: 940px;
    flex-wrap: wrap;
    margin-top: 10px;
}

.Info {
    display: grid;
    max-width: 440px;
    /* flex-wrap: nowrap; */
    margin-block: 2rem 0;  
    font-size: 20px;
}

.map {
    display: grid;
    place-items: center;
    margin-bottom: 100px;
}


.Comments {
    display: flex;
    max-width: 400px;
    /* flex-wrap: wrap; */
    padding: 1rem;
    margin-left: 600px;
    position: absolute;
}
.option{
    display: grid;
}

.option div {
    padding: 10px;
}


form {
    width: 750px;
    margin: 0 auto;
    padding: 1rem;
    background-color: #eee;
    display: grid;
    border-radius: 5%;
}

fieldset{
    display: grid;
    grid-gap: .5rem;
    border-radius: 5%;
    padding: 1rem;
    margin-bottom: 20px;
    text-align: left;
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    vertical-align: bottom;
}

button {
    margin: auto;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1rem;
    margin-bottom: 30px;
}
button:hover {
    background-color: rgb(1, 1, 22);
}

.employee {
    display: flex;
    max-width: 790px;
    flex-wrap: wrap;
    justify-content:space-between;
}

.employee h2{
    display: flex;
    flex-basis: 100%;
    padding: 10px;
    justify-content: center;
    position: absolute;
    margin-top: -70px
}

.employee figure {
    width: 180px;
} 

.sociallinks a{
    padding: 10px;
}

footer .sociallinks img {
  max-width: 50px;
  margin-bottom: 10px;
  background-color: #ffffff;
}

a {
    text-decoration: none;
}

body {
    font-family: var(--paragrah-font);
    max-width: 960px;
    padding: 20px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
}


nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
    
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

p {
    padding: 25px;
}

.hero {
    position: relative;
} 

.hero img {
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 1rem;
    left: 0;
    right: 0;
    text-align: center;

}

.hero article img {
    width: 200px;
    float: right; 
    
}

article {
    position: absolute;
    top: 250px;
    padding: 20px;
    background-color: rgba(245, 243, 187, .70);
}

.adventure {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    width: 94%;
    gap: 10px
}

.adventure img {
    max-width: 100%;
}

.adventure figcaption {
    text-align: center;
    background-color: rgba(245, 243, 187, .90);
}

figure {
   margin: 0;
}


.employee {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    justify-content: center;
    width: 94%;
    gap: 10px
}

.employee img {
    max-width: 100%;
}

.employee figcaption {
    text-align: center;
    background-color: rgba(245, 243, 187, .90);
}

.comment-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 1fr 2fr;
    margin: 0.5rem 0;
}

label, input, button, select, textarea {
    font-family: 'Times New Roman', Times, serif;
}

label {
    text-align: left;
    padding-right: 1rem;
}

input, select, textarea {
    padding: 0.5rem;
    font-size: .8rem;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

.button {
    margin: 1rem;
    background-color: #5bc0eb;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}

button {
    margin: 1rem;
    background-color: #5bc0eb;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}

button:hover {
    background-color: #e88d67;
}

.trip {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    justify-content: center;
    width: auto;
    gap: 10px
    
}

.trip1 figcaption {
    text-align:center;
    font-size:1.5rem;
    padding: 10px;
    font-family: 'Josefin Slab';
    color: #5bc0eb;

}

.trip2 figcaption {
    text-align: center;
    font-size:1.5rem;
    padding: 10px;
    font-family: 'Josefin Slab';
    color: #5bc0eb;

}

.trip3 figcaption {
    text-align: center;
    font-size:1.5rem;
    padding: 10px;
    font-family: 'Josefin Slab';
    color: #5bc0eb

}

table, th, td {
  border: 1px solid;
}

table {
  width: 100%;
  max-width: 512px;
  height: 117px;
  margin: 0 auto;
  display: block;
  border-spacing: 0;
}

tbody {
  white-space: nowrap;
}

th, td {
    padding: 5px 10px;
    border-top-width: 0;
    border-left-width: 0;
  }

.news {
    background-color: #ffffff;
}