*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: Roboto, Arial, sans-serif;
}

nav{
  background-color: steelblue;
  padding: 10px;
}

nav a {
  color: white;
  padding: 10px;
  display: block;
}

h1 {
  color: steelblue;
  padding: 10px;
}

main{
  max-width: 640px;
}

main img {
  width: 150px;
  height: auto;
  border: 1px solid steelblue;
  padding: 2px;
  box-shadow: 0 0 30px gray;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

p {
  margin: 0;
  text-align: center;
}

p::after {
  content: "";
  display: table;
  clear: both;
}

aside{
  width: 20em;
  text-align: center;
  position: relative;
}

aside img {
  width: 200px;
  height: auto;
}

img {
  margin-left: 10px;
}

aside h2 {
  position: absolute;
  top: 67px;
  left: 150px;
}

footer {
  margin-top: 20px;
  border-top: 1px solid #ccc;
  text-align: center;
}

/* Class Selectors */
.box {
  margin: 1em;
  border: 1px solid rgba(0,0,0,.1);
  padding: 2.2rem;
  background-color: #eee;
  color: #000;
}

.box p {
  margin: 0;
}

footer p {
  display: inline-block;
  margin: 0;
}

.profile {
  float: right;
  margin-left: 100px;
  margin-right: 600px;
  margin-top: 10px;
  box-shadow: 5px 5px 10px #888888;
}


